html {
    scroll-behavior: smooth;
}

body {
    background: #474747;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header {
    background: #002642;
    background-attachment: scroll;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
}

.topnav {
    list-style: none;
    text-align: right;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.topnav li:first-child {
    float: left;
}

.topnav li {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 3.5vw;
}

.topnav a {
    text-decoration: none;
    color: #FFFFFF;
}

.topnav li:first-child a{
    color: #000000;
}

.topnav a:hover {
    color: #189CB4;
}

@media screen and (max-width: 600px) {
    .topnav li {
        font-size: 30px;
    }
}