h1 {
    text-align: center;
}

section {
    text-align: center;
    padding: 50vh 0 50vh 0;
}

.mybutton {
    background: #002642;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 6px;
}

.mybutton:hover {
    background: #0C617B;
}