html {
    scroll-behavior: smooth;
}

body {
    background: rgb(58, 58, 58);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: black;
}

footer {
    margin: 2px;
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}

.icon {
    color: blue;
}

.topnav {
    list-style: none;
    text-align: right;
    margin: 0px;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.topnav li:first-child {
    float: left;
}

.topnav li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 3.5vw;
}

.topnav a {
    text-decoration: none;
    color: white;
}

.topnav a:hover {
    color: blue;
}

h1 {
    text-align: center;
    padding: 25vh 0 0 0;
}

.projects {
    display: flex;
    flex-direction: row;
    padding-top: 300px;
}

.projects figure {
    margin: auto;
    text-align: center;
}

.projects figure img{
    border-radius: 40%;
}

.projects figure img:hover {
    filter: brightness(60%);
}

.projects figure a {
    text-decoration: none;
    color: white;
}

.projects figure a:hover {
    filter: brightness(60%);
}

@media screen and (max-width: 600px) {
    .topnav li {
        font-size: 20px;
    }
}