h1 {
    text-align: center;
    padding: 25vh 0 0 0;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
}

.projects figure {
    margin: 10px;
    text-align: center;
}

.projects figure img{
    border-radius: 40%;
}

.projects figure img:hover {
    filter: brightness(60%);
}

.projects figure a {
    text-decoration: none;
    color: #FFFFFF;
}

.projects figure a:hover {
    filter: brightness(60%);
}

@media screen and (max-width: 600px) {
    .projects {
        grid-template-columns: auto;
    }
}